.gpt,
.ads-box {
  width: auto;
  text-align: center;
  padding: 0 0;
}

.gpt p,
.ads-box p {
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  color: #a6a6a6;
  text-align: center;
  margin: 0 auto;
}

.adsbygoogle[data-ad-status="unfilled"] {
  display: none !important;
}

.img-box {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 100%;
  background-color: #e8e8e8;
}

.img-box .image-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0);
}

.img-box .image-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-box .image-loading img {
  width: 100%;
  height: 100%;
  display: block;
}

.img-box .image-loading svg {
  width: 100%;
  height: 100%;
}

.show-image {
  transition: all cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
}

.show-image .image-loading {
  opacity: 0;
  transition: all cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.2s;
  transform: scale(0.2);
}

.show-image .image-content {
  opacity: 1;
  transform: scale(1);
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  z-index: 2;
}

.no-ratio {
  height: auto !important;
  padding-bottom: 0 !important;
}

.no-ratio.show-image .image-loading {
  display: none;
}

.no-ratio img {
  width: 100% !important;
  position: static !important;
}

.no-ratio .image-loading {
  width: 100%;
  height: auto;
  position: static !important;
}

.no-ratio-height {
  height: 100% !important;
  padding-bottom: 0 !important;
  width: auto !important;
}

.no-ratio-height.show-image .image-loading {
  display: none;
}

.no-ratio-height img {
  height: 100% !important;
  width: auto !important;
  position: static !important;
}

.no-ratio-height .image-loading {
  height: 100%;
  width: auto;
  position: static !important;
}

.card {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.card:hover {
  transform-origin: center center;
  transform: scale(1.1);
  transition: all 0.5s cubic-bezier(0.175, 0.585, 0.12, 1.575);
  z-index: 999;
}

.card:hover .game-title {
  visibility: visible !important;
}

.card .card-content {
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}

.card .card-content .game-title {
  width: 100%;
  height: 6.5rem;
  visibility: hidden;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.5));
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  overflow: hidden;
  padding: 0 0.5rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
  align-items: center;
  z-index: 99;
  text-align: center;
  justify-content: center;
}

.no-shadow {
  box-shadow: none;
}

.h5-browser-card::after {
  content: "";
  width: 47px;
  height: 43px;
  display: block;
  background-image: url(../images/h5_tip.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 9;
}

html,
body {
  margin: 0 0;
  padding: 0 0;
  font-family: "Poppins", sans-serif, Roboto, Opensans, Arial, Helvetica;
  user-select: none;
  min-height: 100vh;
  font-size: 62.5%;
  background-color: #f2f5f9;
}

.half-star {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  position: relative;
}

.half-star img:last-child {
  position: absolute;
  left: 0;
  top: 0;
  float: left;
}

header {
  width: 100%;
  min-height: 50px;
  height: 5rem;
  background-color: #fff;
  position: relative;
  z-index: 999;
  padding: 0 1.2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
}

header .rtl {
  width: 50%;
  display: flex;
  height: 100%;
  align-items: center;
}

header .rtl #logo {
  height: 2.8rem;
}

header .rtl #logo img {
  height: 100%;
  width: auto;
}

header .field-container {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  width: 50%;
  height: 3.5rem;
  margin-left: 2rem;
}

header .field-container .field {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background-color: #e6e6e6;
  border-radius: 2.8rem;
  box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
  transition: all 0.4s ease;
  box-sizing: border-box;
}

header .field-container .field:focus {
  outline: none;
  box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
}

header .field-container .field:focus+.icons-container .icon-close {
  opacity: 1;
  transform: translateX(0);
}

header .field-container .field:focus+.icons-container .icon-search {
  opacity: 0;
  transform: translateX(200%);
}

header .field-container .icons-container {
  position: absolute;
  top: 11px;
  right: -25px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0;
}

#page {
  width: 100%;
  flex: 1 1 auto;
}

.loading-svg path:nth-of-type(1) {
  animation: spin_single_neg 1.8s 0.1s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.loading-svg path:nth-of-type(2) {
  animation: spin_single_neg 1.8s 0.2s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.loading-svg path:nth-of-type(3) {
  animation: spin_single_neg 1.8s 0.3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.loading-svg path:nth-of-type(4) {
  animation: spin_single_neg 1.8s 0.4s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.loading-svg path:nth-of-type(5) {
  animation: spin_single_neg 1.8s 0.5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.loading-svg path:nth-of-type(6) {
  animation: spin_single_neg 1.8s 0.6s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.loading-svg path:nth-of-type(7) {
  animation: spin_single_neg 1.8s 0.7s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.loading-svg path:nth-of-type(8) {
  animation: spin_single_neg 1.8s 0.8s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.loading-svg path {
  transform-origin: center;
  transform-box: fill-box;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

@keyframes spin_single_neg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

footer {
  width: 100%;
  padding-top: 2rem;
}

footer ul {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 0;
  padding: 0 12px;
  height: 8.8rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  box-sizing: border-box;
}

footer ul li {
  display: flex;
  justify-content: center;
}

footer ul li a {
  color: #6e6e6e;
  font-size: 1.6rem;
  line-height: 2.2em;
  cursor: pointer;
  text-decoration: none;
}

footer ul li p {
  margin: 0.5rem 0.5rem;
}

#top {
  height: 12rem;
  background-color: #0073dd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#top h5 {
  height: 4rem;
  font-size: 2.8rem;
  font-weight: 500;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}

#top .field-container {
  padding: 0;
  margin: 0;
  border: 0;
  width: calc(100% - 2.4rem);
  height: 3.5rem;
  position: absolute;
  bottom: -1.8rem;
  left: 50%;
  transform: translate(-50%, 0);
}

#top .field-container .field {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: #fff;
  border-radius: 2.8rem;
  box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
  transition: all 0.4s ease;
  box-sizing: border-box;
}

#top .field-container .field:focus {
  outline: none;
  box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
}

#top .field-container .field:focus+.icons-container .icon-close {
  opacity: 1;
  transform: translateX(0);
}

#top .field-container .field:focus+.icons-container .icon-search {
  opacity: 0;
  transform: translateX(200%);
}

#top .field-container .icons-container {
  position: absolute;
  top: 11px;
  right: -25px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  display: none;
}

#search-container {
  margin-top: 40px;
  padding: 0 1.2rem;
}

#search-container h5 {
  height: 28px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-indent: 40px;
  padding-bottom: 20px;
}

#search-container .search-list {
  width: 100%;
  list-style: none;
  padding: 0 0;
  margin: 0 0;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 24px) / 3));
  column-gap: 12px;
  row-gap: 12px;
}